# Frontend
NEXT_PUBLIC_API_URL=your-api-url

# Postgres 
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-postgres-db

# RabbitMQ
RABBITMQ_DEFAULT_USER=your-rabbitmq-user
RABBITMQ_DEFAULT_PASS=your-rabbitmq-password

# Spring — backend + worker 
SPRING_DATASOURCE_URL=jdbc:postgresql://your-postgres-host:your-postgres-port/your-postgres-db
SPRING_DATASOURCE_USERNAME=your-postgres-user
SPRING_DATASOURCE_PASSWORD=your-postgres-password
SPRING_RABBITMQ_HOST=your-rabbitmq-host
SPRING_RABBITMQ_PORT=your-rabbitmq-port
SPRING_RABBITMQ_USERNAME=your-rabbitmq-user
SPRING_RABBITMQ_PASSWORD=your-rabbitmq-password